/* src/components/Garentie.module.css */
.garantie {
    margin-top: 0; /* Assurez-vous qu'il n'y a pas de marge supérieure */
    padding-top: 0;
    height: 200px;
  }
.garantieSection {
    background-color:gray ;
    width: 100%; /* Prend toute la largeur */
    height: 200px; /* Hauteur de la section */
    display: flex;
    justify-content: center; /* Centrer le container */
    align-items: center; /* Centrer le container verticalement */
  }
  
  .container {
    width: 100%; /* Largeur du container, peut être ajustée */
    height: 100%; /* Hauteur du container égale à la section */
    background-color: #f8f5f5; /* Fond vert pour le container */
  }
  .garantieContainer {
    position: relative;
    height: 400px; /* Hauteur de la section */
    width: 100%; /* Largeur de la section (prendra toute la largeur disponible) */
    overflow: hidden; /* Cache tout dépassement d'image */
    background: url('/image/stop.jpg') no-repeat center center;
    background-size: cover; /* L'image de fond occupe toute la section */
  }
  
  .garentieImage {
    position: absolute; /* Positionner l'image à l'intérieur de la section */
    top: 0;
    left: 0;
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: 100%; /* L'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* Remplir l'espace tout en gardant les proportions */
    filter: grayscale(100%) blur(5px); /* Applique un filtre gris et flou à l'image */
  }
  
  